<div id="<%= dom_id article %>">
  <p>
    <strong>Article type:</strong>
    <%= article.article_type %>
  </p>

  <p>
    <strong>Medical use:</strong>
    <%= article.medical_use %>
  </p>

  <p>
    <strong>Classification:</strong>
    <%= article.classification %>
  </p>

  <p>
    <strong>Strain:</strong>
    <%= article.strain %>
  </p>

  <p>
    <strong>Category:</strong>
    <%= article.category %>
  </p>

  <p>
    <strong>Brand:</strong>
    <%= article.brand %>
  </p>

</div>
